doctype html
html(lang='fr')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Michel Lapalus

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Michel Lapalus
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/ma-photo-mini.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') Ma vie...Mon Oeuvre
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Mes Formations
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Mes Compétences
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Mon Expérience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Mes Centres d'intéret
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Mes Certificats
                   

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Michel 
                        span.text-primary Lapalus
                    .subheading.mb-5
                        | 52 Boulevard de Vanves · Chatillon 92320 ·  
                        a(href='mailto:mlapalus.dev@gmail.com') mlapalus.dev@gmail.com
                    p.lead.mb-5
                        | J'ai une formation d'ingénieur en Electonique et Informatique, 
                        | avec une spécialisation en <span>Microélectronique et Systèmes Intégrés</span>.
                        br
                        | J'ai une expérience de <span>6 ans</span> dans le développement de circuits
                        | et cartes numérique principalement dans les Telecoms.
                        br
                        | Depuis 1 an, je me forme en autodidacte au développement Web.
                    .social-icons
                        a.social-icon(href='http://linkedin.com/in/michel-lapalus-52a7987b')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/Mlapalus')
                            i.fab.fa-github
                        a.social-icon(href='https://www.facebook.com/michel.lapalus.5')
                            i.fab.fa-facebook-f

            hr.m-0

            // Mes Formations
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Mes Formations

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 EFREI - Villejuif
                            .subheading.mb-3 Ingénieur en Electronique et Informatique
                        .flex-shrink-0
                            span.text-primary Septembre 1991 - Septembre 1996

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Jussieu - Paris
                            .subheading.mb-3 DEA en Microélectronique et Systèmes Intégrés
                        .flex-shrink-0
                            span.text-primary Septembre 1995 - Septembre 1996

            hr.m-0

            // Compétences
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Mes compétences
                    .subheading.mb-3 Langages de Programmation & Outils
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-php
                        li.list-inline-item
                            i.fab.fa-symfony
                        li.list-inline-item
                            i.fab.fa-wordpress 
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-github
                        li.list-inline-item
                            i.fab.fa-gitlab
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | BDD - TDD - Clean Architecture
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Git - Github - Gitlab
                       

            hr.m-0

            // Expérience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Mes expériences

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Developpeur Web Junior
                            .subheading.mb-3 Autoformation
                            p
                                | Apprentissage en autodidacte des différents langages du web :
                                | HTML5, CSS3, JS, PHP7, PYTHON.
                                br
                                | Travaille sur les Frameworks, Symfony et Django, et des outils Webpack, Composer, Docker, Git...
                                br
                                | Réalisation et mise en ligne de sites Web :
                            a.nav-link.js-scroll-trigger(href='http://bibiche-coiffure.fr')
                                img.img-fluid.img-profile.mx-auto.mb-2(src='assets/img/bibiche.png', alt='')

                            a.nav-link.js-scroll-trigger(href='http://top-service-france.fr')
                                img.img-fluid.img-profile.mx-auto.mb-2(src='assets/img/top-service.png', alt='')
                        .flex-shrink-0
                            span.text-primary Mars 2019 - Aujourd'hui

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Gérant de sociétés
                            .subheading.mb-3 Le Bateau Ivre et SARL G2ML
                            p
                                | Gérant de 2 établissements de nuit dans Paris.
                        .flex-shrink-0
                            span.text-primary Mai 2003 - Novembre 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Ingénieur Informatique / Electronique
                            .subheading.mb-3 Corvis / Algety
                            p
                                | Réalisation de cartes et de composants numérique(FPGAs). 
                                | Utilisation du langage VHDL. Validation, production et 
                                | déployement chez les clients : France Telecom, Telefonica
                        .flex-shrink-0
                            span.text-primary Octobre 2000 - Janvier 2003

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Ingénieur Informatique / Electronique
                            .subheading.mb-3 AUSY - SSII
                            p
                                | Nombreuses missions au sein d'ALCATEL pour réaliser 
                                | des fonctionnalités en VHDL pour des projets dans le domeine des Telecoms.
                        .flex-shrink-0
                            span.text-primary Janvier 1998 - Septembre 2000

            hr.m-0

            // Certificats
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0                        
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Openclassroom : HTML5 - CSS3
                            a(href="")
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Openclassroom : Apprendre Javascript 
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Openclassroom : Coder en Javascript
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Openclassroom : Javascript pour le Web
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Openclassroom : Apprenez Python
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Openclassroom : POO avec Python 
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Openclassroom : Démarrer avec Python
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Openclassroom : Testez avec Python
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Openclassroom : Framework Django
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Openclassroom : Perfectionnez vous en Python
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Openclassroom : Démarrer avec Python
            hr.m-0
          
            // Mes centres d'intéret
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Je joue de la guitare dans un groupe de musique. 
                    p.mb-0
                        | Je joue au Basket-Ball.

       
        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')